{% extends 'pizza/base.html' %}
{% block body %}

   {% load widget_tweaks %}
    <div class="container">

        <h1>Order Form</h1>

        <h2>{{ note }}</h2>
        {% if created_pizza_pk %}
            <a href="{% url "edit_order" pk=created_pizza_pk %}"> Edit your order</a>
        {% endif %}
        <br>
        <form action="{% url 'order' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            </div>

            {% endfor %}
            <input type="submit"  value="Order Pizza">
        </form>
        <br>
        Want than one more pizza ?
        <form action="{% url "pizzas" %}" method="get">
            {{ multiple_form }}
            <input type="submit" value="Get Pizzas">
        </form>
  </div>

{% endblock %}